<div class="container">
  <h1>{{this.internship.title}}</h1>
  <div class="container">
    <div class="row">
      <div class="col-6 ">
        <div [innerHTML]="this.internship.blog.content"></div>
      </div>
      <div class="col-6">
        <!--Persoon-->
        <div class="row align-items-start">
          <div class="col">
            <h2>{{internship.user.firstName}} {{internship.user.infix}} {{internship.user.lastName}}</h2>
            <br>
            <h3>Student {{internship.user.study}}</h3>
            <br>
            <!--https://angular.io/api/common/DatePipe#!#sts=Pipe-->
            <h5>{{internship.startDate | date: 'MMMM yyyy'}} - {{internship.endDate | date: 'MMMM yyyy'}}</h5>
          </div>
        </div>
        <!--Divider line?-->
        <hr>
        <!--Stagebedrijf-->
        <div class="row align-items-center">
          <div class="col">
            <h4>
              {{internship.institution.name}}
            </h4>
            <h5>
              {{internship.institution.street}} {{internship.institution.houseNumber}}
              <br>
              {{internship.institution.zipCode}} {{internship.institution.city}}
            </h5>
          </div>
        </div>
        <!--Divider line?-->
        <!--QR Code-->
        <div class="row">
          <div class="col-6">
            Wil je weten of deze stage ook iets voor jou is? Scan de QR code om de hele blog te lezen!
          </div>
          <div class="col-6">
            <qr-code [value]=qrurl>
            </qr-code>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
