<div class="container">
  <h1>{{this.internship.title}}</h1>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div [innerHTML]="this.internship.blog.content"></div>
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus vitae eros sed efficitur. Vestibulum
        volutpat rhoncus iaculis. Nunc eros nisl, elementum vitae nunc nec, porta suscipit magna. Aliquam eget massa
        diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar imperdiet augue, ut elementum mi.
        Vestibulum sed tincidunt neque. Nam imperdiet metus semper lacus dapibus, id tincidunt justo dictum. Maecenas
        sagittis nisl arcu, convallis pharetra dolor convallis nec. Pellentesque ante nisi, tempus sit amet cursus non,
        placerat non tellus. In ultricies elit in mi imperdiet, imperdiet consectetur leo mattis.

        Curabitur id tellus at eros tincidunt egestas. Suspendisse odio orci, aliquam ac ante vel, sagittis volutpat
        tellus. Proin ut consectetur sapien. Suspendisse potenti. Curabitur efficitur, risus vitae luctus vestibulum,
        ipsum augue condimentum lacus, vel cursus felis odio quis erat. Suspendisse sit amet ornare neque. Morbi
        imperdiet finibus tristique. Maecenas hendrerit tellus vulputate urna sagittis, id lacinia velit tincidunt.
        Nulla dolor nisi, tempor at ultrices nec, rutrum vitae lectus. Quisque sapien elit, volutpat eget eros eget,
        fringilla dignissim tellus. In hac habitasse platea dictumst. Aenean sit amet molestie augue. Sed rutrum odio
        sit amet tellus molestie, at elementum purus consectetur. Nullam interdum lorem vitae leo ornare facilisis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie in lectus eu lobortis.

        Duis auctor placerat quam ut faucibus. Donec ultrices eros ac libero mattis consectetur. Mauris tincidunt
        posuere turpis eget porta. Vestibulum enim metus, vestibulum sit amet posuere nec, congue quis dui. Maecenas a
        justo condimentum sem varius pulvinar at ut purus. Mauris commodo posuere ultricies. Sed sapien est, auctor quis
        quam nec, euismod vestibulum diam. Donec ac odio id dui blandit ullamcorper non et ante. Aliquam erat volutpat.
        Vestibulum sagittis, libero ornare fermentum scelerisque, lacus ex congue turpis, at gravida est mi vitae nunc.
        Nulla non volutpat erat, ornare dapibus odio.

        Pellentesque quis blandit nulla. Suspendisse in vehicula lorem. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Integer vitae viverra urna, fermentum faucibus augue. Quisque
        tristique, magna nec pretium facilisis, turpis nisl mattis dolor, in vestibulum sapien leo sit amet erat.
        Praesent facilisis laoreet mauris vitae elementum. Ut tincidunt pellentesque bibendum. Morbi lectus diam,
        egestas ut nisi vitae, luctus laoreet arcu. Suspendisse facilisis arcu sed nisl dapibus, et tempus magna mollis.
        Sed consectetur tortor nec eros sodales lacinia. Cras dignissim felis eget magna dapibus mollis. Donec tempus
        vel neque ac dignissim. Mauris dictum sodales vulputate. Donec sed diam elit. Curabitur dapibus vestibulum neque
        vitae iaculis. Sed et ultrices dui.

        Aliquam erat volutpat. Curabitur ut ligula nec felis vehicula commodo non vitae mi. Nulla sed ligula in lorem
        mollis mattis. Phasellus id mauris nunc. In sed mi in dolor vulputate mattis. Nam pharetra metus a commodo
        mollis. Suspendisse hendrerit sem tortor, ut varius dolor suscipit vitae. Pellentesque eget ullamcorper purus.
        Nunc ac tellus et lectus malesuada imperdiet. Nam dapibus velit erat, nec bibendum dui viverra vitae. Quisque
        ornare eget risus a facilisis. Ut auctor, lectus vitae consectetur interdum, dui nulla pharetra mi, quis cursus
        ipsum arcu et magna. Mauris euismod bibendum pharetra. Aliquam molestie, nisi nec laoreet molestie, magna ex
        dignissim neque, quis facilisis odio turpis sed leo. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas.
      </div>
      <div class="col-4">
        <!--Persoon-->
        <div class="row align-items-start">
          <div class="col">
            <h2>{{internship.user.firstName}} {{internship.user.infix}} {{internship.user.lastName}}</h2>
            <br>
            <h3>Student {{internship.user.study}}</h3>
            <br>
            <!--https://angular.io/api/common/DatePipe#!#sts=Pipe-->
            <h4>{{internship.startDate | date: 'MMMM yyyy'}} - {{internship.endDate | date: 'MMMM yyyy'}}</h4>
          </div>
        </div>
        <!--Divider line?-->
        <!--Stagebedrijf-->
        <div class="row align-items-center">
          <div class="col">
            <h3>
              {{internship.institution.name}}

              {{internship.institution.street}} {{internship.institution.houseNumber}}

              {{internship.institution.zipCode}} {{internship.institution.city}}
            </h3>
          </div>
        </div>
        <!--Divider line?-->
        <!--QR Code-->
        <div class="row align-items-end">
          <div class="col">
            Wil je weten of deze stage ook iets voor jou is? Scan de QR code en kom er achter!

            <qr-code [value]=qrurl>
            </qr-code>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
