<div class="jumbotron jumbotron-fluid" id="blog-head-image">
  <div class="blog-title-block">
    <h1 class="blog-title display-3">{{blog?.title}}</h1>
  </div>
</div>
<div class="container full-content">
  <div class="row">
    <div class="col-8 detail-content">
      <div [innerHTML]="blog?.content"></div>
    </div>
    <div class="col-4 side-detail-content">
      <div class="container upper-side-content">
        <div class="row">
          <div class="col-12">
            <h2 class="side-title">Over mij</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>{{blog?.creator.firstName}} {{blog?.creator.infix}} {{blog?.creator.lastName}}</h5>
            <p>{{blog?.creator.study}}</p>
            <p>Meeloopstage</p>
            <p class="period">februari - juni 2017</p>
          </div>
        </div>
      </div>
      <div class="container bottom-side-content">
        <div class="row">
          <div class="col-12">
            <h2 class="side-title">Over de locatie</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h5 id="location-title">{{internship.institution.name}}</h5>
            <p>
              {{internship?.institution.name || 'noem istniet'}}
            </p>
            <p>
              {{internship?.institution.street}} <br>
              {{internship?.institution.zipCode}} {{internship?.institution.city}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
