<agm-map [latitude]=centerPositionLat [longitude]=centerPositionLng [zoom]=zoom>
  <div *ngFor="let m of markers">
    <div *ngIf="m.isInternship"> <!--Use m.content-->
      <agm-marker [latitude]="m.location.latitude"
                  [longitude]="m.location.longitude">
        <agm-snazzy-info-window [maxWidth]=pinPopupWidth [maxHeight]=pinPopupHeight [isOpen]=m.isOpen>
          <ng-template>
            <app-map-marker-internship [internship]=m.internship>
            </app-map-marker-internship>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </div>

    <div *ngIf="!m.isInternship"> <!--Use m.institution-->
      <agm-marker [latitude]="m.location.latitude"
                  [longitude]="m.location.longitude">
        <agm-snazzy-info-window [maxWidth]=pinPopupWidth [maxHeight]=pinPopupHeight [isOpen]=m.isOpen>
          <ng-template>
            <app-map-marker-institution [institution]=m.institution>
            </app-map-marker-institution>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </div>
  </div>
</agm-map>
